
@font-face {
    src: url("../fonts/Inter-Var.ttf");
    font-family: Inter;
}

@font-face {
    src: url("../fonts/JosefinSans-Var.ttf");
    font-family: JosefinSans, Calibri, sans-serif;
}


:root {
    --main-bg: #000000;
    --section-title: #ffffff;
    --bg-input-field: #444059;
    --input-field: #b1b1b1;
    --btn-publish-bg: #28a9f1;
    --btn-publish: #04131c;
    --endorsement-container-: #1b1924;
    --endorsement-container-bg: #ffffff;
    
}

html, body,
h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
    padding: 0;
}

.undraggable {
    user-drag: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.hidden {
    display: none;
}

.section-title {
    color: var(--section-title);
    font-family: JosefinSans;
    font-weight: 700;
}

#main {
    width: 320px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 0 37px;
    background-color: var(--main-bg);
    font-family: Inter, Arial, sans-serif;
}

#section-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;
}

#section-hero #hero-logo {
    width: 90px;
    margin-bottom: 20px;
}

#section-hero #hero-title {
    font-size: 25px;
}

#section-endorsement-creator {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

#section-endorsement-creator .endorsement-input {
    border: none;
    border-radius: 8px;
    background-color: var(--bg-input-field);
    color: var(--input-field);
    overflow-wrap: anywhere;
}

#section-endorsement-creator #input-text {
    padding: 15px;
    height: 120px;
    resize: none; /* Disable textarea resizing */
    vertical-align: top;
    text-align: justify;
}

#section-endorsement-creator #div-endorsement-sides {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 9px 0;
}

#div-endorsement-sides input {
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 15px;
}

#section-endorsement-creator #creator-hint {
    margin: 10px;
    color: var(--section-title);
    font-size: 18px;
    font-style: oblique;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

#section-endorsement-creator #btn-publish {
    height: 60px;
    border-radius: 8px;
    color: var(--btn-publish);
    background-color: var(--btn-publish-bg);
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

#section-endorsement-viewer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-endorsement-viewer #viewer-title {
    margin-bottom: 15px;
    font-size: 20px;
}

#section-endorsement-viewer #div-endorsements-supercontainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    grid-row-gap: 15px;
}

#section-endorsement-viewer .div-endorsement-container {
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
    padding: 15px;
    color: var(--endorsement-container);
    background-color: var(--endorsement-container-bg);
    font-size: 14px;
}

.div-endorsement-container .div-endorsement-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
}

.div-endorsement-footer .likes-img {
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
}
